{% form_theme form 'bootstrap_5_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="mb-3"><button class="btn btn-success">{{ button_label|default('Сохранить') }}</button></div>
{{ form_end(form) }}
