{% extends 'base.html.twig' %}

{% block title %}New Salary{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {{ include('calculate/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_salary') }}">Назад к списку</a>
{% endblock %}
